@font-face {
	font-family: "Arcane Nine";
	src: url("../fonts/Arcane Nine.otf");
}

@font-face {
	font-family: "Noto Serif Display Light";
	src: url("../fonts/NotoSerifDisplay-Regular.ttf");
}

@font-face {
	font-family: "Noto Serif Display Bold";
	src: url("../fonts/NotoSerifDisplay-ExtraBold.ttf");
}
