@font-face {
	font-family: "Arcane Nine";
	src: url("../fonts/Arcane Nine.otf");
}

@font-face {
	font-family: "Inter Black";
	src: url("../fonts/Inter_28pt-Black.ttf");
}

@font-face {
	font-family: "Inter Light";
	src: url("../fonts/Inter_28pt-Light.ttf");
}

@font-face {
	font-family: "Inter Medium";
	src: url("../fonts/Inter_28pt-Medium.ttf");
}

@font-face {
	font-family: "Noto Serif Display Light";
	src: url("../fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Noto Serif Display Bold";
	src: url("../fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf");
	font-weight: 800;
}
