@font-face {
	font-family: "Arcane Nine";
	src: url("../fonts/Arcane Nine.otf");
}

@font-face {
	font-family: "Tabac Glam";
	src: url("../fonts/TabacGlamG1-Regular.otf");
}

@font-face {
	font-family: "Tabac Glam Bold";
	src: url("../fonts/TabacGlamG1-Bold.otf");
}

html {
	background-color: #131516;
	color: #d8d4cf;
}

body {
	font-family: "Tabac Glam Bold", Arial, sans-serif;
	margin: 0;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

h1 {
	font-size: 5rem;
	font-family: "Arcane Nine";
	text-align: center;
	margin: 0;
}

a {
	color: #d8d4cf;
}

a:hover {
	filter: opacity(50%);
}

.container {
	margin: 1rem;
}

.gradient {
	color: #a1afd6;
	/* background: linear-gradient(#6982a7, #d2e1e9); */
	/* background: linear-gradient(#2a426e, #f4fcff); */
	/* background: linear-gradient(#446086, #f4fcff); */
	background: linear-gradient(#15213d, #ffffff);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.digit {
	font-family: "Arcane Nine";
	font-size: 10rem;
	text-align: center;
}

.place-desc {
	font-family: "Tabac Glam Bold";
	text-align: center;
	font-size: 1.5rem;
}

#header-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#releases-text {
	font-family: "Tabac Glam";
	font-size: 2rem;
	text-align: center;
	margin: 0;
	margin-top: 1rem;
}

@media screen and (min-width: 800px) {
	#header-container {
		flex-direction: row;
	}

	.header-text-field {
		margin: 1rem;
	}
}

@media screen and (min-width: 600px) {
	#timer-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 1500px;
	}

	.timer-place:has(#seconds-digit) {
		min-width: 12.7rem;
		margin-left: 0rem;
	}

	.timer-place:has(#minutes-digit) {
		min-width: 11rem;
		margin-left: 1rem;
	}

	.timer-place {
		margin-left: 2rem;
		margin-right: 2rem;
	}

	.container {
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
